:root {
    --purple: #522081;
    --white: #fff;
    --black: #010512;
    --gray: #E6E1EA;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    color: var(--black) !important;
}

.px-120 {
    padding-left: 120px !important;
    padding-right: 120px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.text-purple {
    color: var(--purple) !important;
}

.homepage {
    height: 85vh;
}

.contact,
.about,
.services {
    height: 135vh;
}

.navbar {
    background-color: var(--purple) !important;
}

.nav-link {
    color: var(--white) !important;
    transition: transform .2s !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}

.nav-link:hover,
.nav-active {
    transform: scale(1.3);
    font-weight: 700;
}

.navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.header-text--big {
    font-size: 5.125rem;
    font-weight: 700;
    line-height: 5.688rem;
}

.homepage-smallText {
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.625rem;
}

.btn-purple {
    color: var(--purple) !important;
    border-color: var(--purple) !important;
    border-radius: 40px !important;
    letter-spacing: 0.1em !important;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.btn-purple--text {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 21.78px;
}

.btn-purple:hover {
    background-color: var(--purple) !important;
    color: var(--white) !important;
}

.services--header {
    font-weight: 700;
    font-size: 3.875rem;
}

.services--paragraph {
    font-weight: 300;
    font-size: 22px;
}

.services-card {
    max-width: 500px !important;
    max-height: 529px !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    box-sizing: border-box;
}

.services-card-body {
    height: auto;
}

.services-card-body__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: var(--black);
}

.services-card-body__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: var(--black);
}

.about,
.contact {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.about-card {
    max-width: 312px !important;
    max-height: 460px !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    box-sizing: border-box;
}

.about-card-body {
    max-width: 312px !important;
    max-height: 460px !important;
    width: 100% !important;
    height: 100% !important;
}

.about-card-body__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: var(--black);
}

.about-card-body__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: var(--black);
}


.header-text--small {
    font-size: 4.425rem;
    font-weight: 700;
    line-height: 4.888rem;
}

.about-text,
.contact-text {
    font-size: 5.75rem;
    font-weight: 700;
    line-height: 7.188rem;
}

.about-image {
    aspect-ratio: 4/3;
    position: absolute;
    top: 77px;
    right: 139px;
    z-index: 2;
    height: 600px;
    width: auto;
}

.bg-triangle {
    position: absolute;
    z-index: 1;
}

.contact-video {
    aspect-ratio: 4/3;
    position: absolute;
    top: 77px;
    right: 139px;
    z-index: 2;
    height: 600px;
    width: auto;
}

.contact-card-body {
    width: auto;
    height: auto;
}

.contact-card-body__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    color: var(--black);
}

.contact-card-text__name {
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 26.6px !important;
}

.contact-card-body__avatar {
    height: 98px;
    width: 98px;
}

.bg-triangle {
    /* background-image: url('../image/Rectangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    height: 76.5vh;
    width: 60vw; */
    position: relative;
    z-index: 1;
}

.footer-border-top {
    border-top: 1px solid var(--purple);
}

.footer-paragraph {
    width: 473px;
}

.footer-paragraph__text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5rem;
}

.footer-item-names {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.813rem;
}

.footer-nav-item,
.getInTocuh-item,
.social-item {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 12px 0;
}


.footer-nav-link,
.getInTocuh-link,
.social-link {
    text-decoration: none !important;
    color: var(--black) !important;
    transition: transform .2s !important;
}

.footer-nav-link:hover,
.getInTocuh-link:hover,
.social-link:hover,
.footer-active {
    text-decoration: underline !important;
    color: var(--purple) !important;
    transform: scale(1.3);
    font-weight: 500;
}

.footer-nav,
.footer-getInTouch,
.footer-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: var(--black) !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* Styles for xs */
    .header-text--big {
        font-size: 3.425rem;
        line-height: 3.5rem;
    }

    .header-text--small {
        font-size: 2.625rem;
        line-height: 3.3rem;
    }

    .footer-paragraph {
        max-width: 350px;
    }

    .btn-purple {
        border-radius: 40px !important;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
    }

    .px-120 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* Styles for sm */
    .header-text--big {
        font-size: 3.688rem;
        line-height: 3.688rem;
    }

    .header-text--small {
        font-size: 3rem;
        line-height: 3.8rem;
    }

    .btn-purple {
        border-radius: 40px !important;
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .px-120 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    /* Styles for md */
    .header-text--big {
        font-size: 4.25rem;
        line-height: 4.5rem;
    }

    .header-text--small {
        font-size: 3.488rem;
        line-height: 4.588rem;
    }

    .btn-purple {
        border-radius: 40px !important;
        padding-left: 5rem !important;
        padding-right: 5rem !important;
        padding-top: 1.2rem !important;
        padding-bottom: 1.2rem !important;
    }

    .px-120 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    /* Styles for lg */
    .header-text--big {
        font-size: 4.65rem;
        line-height: 5.2rem;
    }

    .header-text--small {
        font-size: 3.875rem;
        line-height: 4.688rem;
    }

    .about-image {
        top: 59px;
    }

    .bg-triangle {
        height: 67vh;
    }

    .footer-paragraph {
        width: 23.25rem;
    }

    .px-120 {
        padding-left: 75px !important;
        padding-right: 75px !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

    /* Styles for xl */
    .px-120 {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /* Styles for xxl */
}