:root {
    --purple: #522081;
    --white: #fff;
    --black: #010512;
    --gray: #E6E1EA;

}

body {
    font-family: 'Inter';
    color: var(--black) !important;
}

.text-purple {
    color: var(--purple) !important;
}

/* .w-60 {
    width: 60% !important;
} */

/* .box-broder-box {
    display: inline;
    box-sizing: border-box !important;
} */

.navbar {
    background-color: var(--purple) !important;
}

.navbar-brand {
    color: var(--white) !important;
}

.nav-link {
    color: var(--white) !important;
    transition: transform .2s !important;
}

.nav-link:hover {
    transform: scale(1.3);
}

.navbar-toggler {
    border-color: #fff !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.first-text {
    letter-spacing: 6px;
    font-size: 1rem;
    font-weight: 400;
}

.second-text {
    font-size: 5.125rem;
    font-weight: 700;
}

.third-text {
    font-size: 1.375rem;
    font-weight: 300;
}

.btn-purple {
    color: var(--purple) !important;
    border-color: var(--purple) !important;
    border-radius: 31px !important;
    width: 18.875rem !important;
    height: 62px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 21.78px;
    letter-spacing: 0.1em;
}

.btn-purple:hover {
    background-color: var(--purple) !important;
    color: var(--white) !important;
}

.services--header {
    font-weight: 700;
    font-size: 3.875rem;
}

.services--paragraph {
    font-weight: 300;
    font-size: 22px;
}

.card {
    max-width: 500px !important;
    max-height: 529px !important;
    width: 100% !important;
    height: 100% !important;
}

.card-body {
    max-width: 312px !important;
    max-height: 460px !important;
    width: 100% !important;
    height: 100% !important;
}

.card-body__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    color: var(--black);
}

.card-body__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    color: var(--black);
}

.about {
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
}

.about-text {
    font-size: 5.75rem;
    font-weight: 700;
    line-height: 7.188rem;
    letter-spacing: 0.3;
    /* width: 43rem; */
}

.about-image {
    aspect-ratio: 9/8;
    position: relative;
    top: 0px;
    right: 10px;
    height: 79vh;
    width: auto;
}

.bg-triangle {
   background-image: url('../image/Rectangle.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: local;
   background-size: cover;
   height: 80vh;
   width: 60vw;
}